@import "themes/mocha.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Mono';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}


#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,

#tray {
  margin-right: 16px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
