@import "themes/gruvbox_light.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Mono';
  font-size: 16px;
}

window#waybar {
  background-color: alpha(@bg, 0.92);
  color: @fg;
  border-bottom: 1px solid alpha(@bg4, 0.3);
}


.hidden {
  opacity: 0;
}

.modules-left { margin-left: 8px; }
.modules-right { margin-right: 8px; }

#workspaces button {
  all: unset;           /* reset */
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @fg;
  background: transparent;
}

#workspaces button.active {
  color: @fg;
  background-color: @bg2;
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: @bg1;
  color: @fg;
}

#workspaces button.empty { opacity: 0.5; }

#cpu,
#battery,
#upower,
#pulseaudio,
#custom-screenrecording-indicator,
#tray { margin-right: 16px; }

#tray menu {
  background-color: @bg1;
  border: 1px solid @bg2;
  color: @fg;
}

#tray menu *:hover {
  background-color: @bg2;
}

#bluetooth,
#language {
  margin-right: 16px;
}

#custom-expand-icon { margin-right: 20px; }
#clock { margin-left: 8.75px; }

tooltip {
  padding: 2px;
  background-color: @bg1;
  color: @fg;
  border: 1px solid alpha(@crust, 0.3);
}
