@import "themes/mocha.css";

* {
  color: @text;
  background: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Mono';
  font-size: 16px;
}

window#waybar {
  background-color: alpha(@base, 0.92);
  color: @text;
  border-bottom: 1px solid alpha(@crust, 0.3);
}

window#waybar.hidden {
  opacity: 0;
}

.modules-left { margin-left: 8px; }
.modules-right { margin-right: 8px; }

#workspaces button {
  all: unset;           /* reset */
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @subtext1;
  background: transparent;
}

#workspaces button.active {
  color: @text;
  background-color: alpha(@surface0, 0.6);
  border-radius: 6px;
}

#workspaces button:hover {
  background-color: alpha(@surface1, 0.7);
  color: @text;
}

#workspaces button.empty { opacity: 0.5; }

#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#tray { margin-right: 16px; }

#tray menu {
  background-color: #1e1e2e; /* Catppuccin Mocha base */
  border: 1px solid #313244; /* surface0 */
  color: #cdd6f4;            /* text */
}

#tray menu *:hover {
  background-color: #313244; /* surface0 */
}

#network { margin-right: 13px; }
#custom-expand-icon { margin-right: 20px; }
#clock { margin-left: 8.75px; }

tooltip {
  padding: 2px;
  background-color: @surface0;
  color: @text;
  border: 1px solid alpha(@crust, 0.3);
}

/* SCREENREC */
#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}
#custom-screenrecording-indicator.active { color: #a55555; }

