@define-color bg #fbf1c7;
@define-color bg0_h #f9f5d7;
@define-color bg0 #fbf1c7;
@define-color bg1 #ebdbb2;
@define-color bg2 #d5c4a1;
@define-color bg3 #bdae93;
@define-color bg4 #a89984;
@define-color bg_visual #ebdbb2;
@define-color bg_red #fb4934;
@define-color bg_green #b8bb26;
@define-color bg_yellow #fabd2f;
@define-color bg_blue #83a598;
@define-color bg_purple #d3869b;
@define-color bg_aqua #8ec07c;
@define-color bg_orange #fe8019;
@define-color fg #3c3836;
@define-color fg0 #282828;
@define-color fg1 #3c3836;
@define-color fg2 #504945;
@define-color fg3 #665c54;
@define-color fg4 #7c6f64;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #7c6f64;
@define-color orange #d65d0e;
